.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.explore-menu h1 {
    color: #262626;
    font-weight: 500px;
    font-family: poppins;
    font-size: 48px;
    color: white;
    /* Text color */
    background: linear-gradient(to right, #740440, #f01515);
    /* Blackish to Redish gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.explore-menu-text {
    color: #747474;
    font-family: poppins;
    font-weight: 500;

}

.explore-menu P {
    color: #050505;
    font-family: monospace;
    font-weight: 700;
    font-size: 20px;
}

.explore-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    font-family: poppins;
    margin: 20px 0px;
    overflow-x: scroll;
}

.explore-menu-list::-webkit-scrollbar {
    display: none;
}

.explore-menu-list-item img {
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

.explore-menu-list-item p {
    color: #747474;
    font-size: max(1.4vw, 16px);
}

.explore-menu hr {
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;

}

.explore-menu-list-item .active {
    border: 4px solid tomato;
    padding: 2px;

}