@tailwind base;
@tailwind components;
@tailwind utilities;



.view-title {
  @apply mb-2 w-full border-b pb-2 text-start text-lg;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.custom-cursor {
  border-left: 2px solid orange;
  margin-left: -1px;
  position: relative;
}

.custom-cursor::after {
  z-index: 10;
  /* content: 'hello'; */
  /* content: var(--cursor-message); */
  content: attr(data-cursor-message);
  position: absolute;
  background-color: orange;
  color: white;
  top: -1.5em;
  left: -0.1rem;
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 3px;
}