@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.logo {
    width: 100px;
    /* or any size you want */
    height: auto;
    /* keep aspect ratio */
}

.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
    gap: 20px;
    color: black;
    font-size: 18px;
    font-family: poppins;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background: black;
    /* change the background color to match the text color */
    color: #ffffff;
    /* change the text color to white for contrast */
    font-size: 16px;
    border: none;
    /* remove the border */
    padding: 10px 30px;
    /* fix the padding syntax */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* add a transition for a smooth color change */
    /* add a hover effect */
}

.navbar button:hover {
    background-color: red;
    /* change the background color on hover */
    color: #ffffff;
    /* keep the text color white */
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar li {
    cursor: pointer;
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;

}