body {
  font-family: 'Playfair Display', serif;
}

* {
  padding: 0;
  margin: 0;

}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-height: fit-content;
  max-height: fit-content;
  min-width: 100px;
  color: black;
  margin-top: 100px;
}

.app {
  width: 80%;
  margin: auto;
  color: grey;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;


}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.footer {
  color: white;
  background-color: rgb(7, 8, 9);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 8vw;
  padding-top: 50px;
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}

.create-repel {
  display: grid;
  height: fit-content;
  width: fit-content;
  font-weight: bold;
  /* Makes the text bold */
  font-size: 2em;
  /* Makes the text 2 times bigger */
  padding-bottom: 10px;
  background: linear-gradient(to right, #71033a, #ff4500);
  /* Gradient from pink to reddish */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  /* Ensures the gradient applies correctly to the text */
}

.create-repel {
  font-size: 40px;
  font-family: poppins;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
}


.text-content h1 {
  font-size: 2em;
  /* Make the heading bigger */
  font-weight: bold;
  /* Make the heading bold */
  color: #000000;
  line-height: 90%;
  font-family: poppins;
  display: inline;
}

.content p {
  color: #333333;
  /* Less dark shade of black */
  font-family: poppins;
  font-size: 20px;
  margin-right: 5px;
  line-height: 120%;
}

.content image {
  width: 100%;
  height: 100%;
}


.create-repel {
  justify-content: left;
  /* Center horizontally */
  line-height: 90%;
}

