@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.footer {
    color: black;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px 8vw;
    padding-top: 10px;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 40px;
    padding-top: 10px;
}

.footer-content-left,
.footer-content-right,
.footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: 30px;
    font-family: poppins;
    padding-bottom: 10px;
    padding-top: 20px;
}

.footer-social-icons {
    display: flex;
}

.footer-social-icons {
    padding-top: 30px;
    space-between: 16px
}

.footer-divider {
    padding: 10px;
}